html, body {
	user-select: none;
  }
  
body {
	background-color: black;
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
  }
  
  .timer-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw; /* viewport width */
	height: 100vh; /* viewport height */
  }
  
  .timer {
	font-family: 'Bebas Neue', sans-serif;
	color: white;
	text-align: center;
	width: 100%;
	font-size: 90vh; /* Adjust this value to make the text size responsive */
	z-index: 2; /* Higher z-index */
  }
  
  .control-timer {
	display: none; /* Hidden by default */
	position: absolute;
	width: 100%;
	color: lightgrey;
	z-index: 3; /* Highest z-index */
  }
  
  .control-timer input {
	font-family: 'Bebas Neue', sans-serif;
	color: lightgrey;
	background-color: black;
	border: none;
	font-size: 90vh; /* Adjust this value to make the text size responsive */
	width: 50%;
	text-align: center;
  }
  