html, body {
    margin: 0;
    height: 100%;
    background-color: black;
    font-family: 'Bebas Neue', monospace;
    user-select: none;
    overflow: hidden;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#timer {
    font-size: 80vmin;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.minutes,
.seconds {
    letter-spacing: 0.05em;
}

.separator {
    transform: translateY(-7%);
    margin: 0 0.05em 0 0em;
}

.control {
    display: none;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    font-size: 80vmin;
    font-weight: 700;
    color: white;
    user-select: none;
    opacity: 0;
    pointer-events: none;
}

.minutes-control {
    left: 0;
}

.seconds-control {
    left: 50%;
}

.control div {
    height: calc(80vmin / 1.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.control.active {
    opacity: 1;
    pointer-events: auto;
}

#quarter-time,
#three-quarters-time,
#half-time {
    position: absolute;
    top: 48%;
    left: 50%;
    font-size: 15vmin;
    transform: translate(-50%, -50%);
    margin: 0 0.05em 0 -0.12em;
    opacity: 0.8;
    color: white;
}

.hidden {
    display: none;
}

.message {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the element based on its dimensions */
    text-align: center; /* Align text within the message box */  
    width: 80%;
    font-size: 15vmin;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    color: white;
}
